.product-data-items-tablist {
  font-family: 'Knockout HTF30-JuniorWelterwt', 'Arial', sans-serif;
  border-style: solid;
  width: 50%;
  margin: 25%;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  /* height: 1000px; */
}
/* Knockout HTF49-Liteweight */
.reviews-tab-container {
  color: black;
  font-size: 22px;
  font-weight: 550;
  border-width: 1.5px;
  border-color: #F2F5F7;
  border-style: solid;
  border-radius: 25px 0px 0px 25px;
  width: 49.5%;
  text-align: center;
  line-height: 1.5;
  /* position: relative;
  float: left; */
}

.questions-tab-container {
  /* float: right; */
  text-align: center;
  width: 49.5%;
  border-radius: 0px 25px 25px 0px;
  background-color: #F2F5F7;
  color: #707070;
  line-height: 1.5;
  font-size: 22px;
  font-weight: 550;
  border-width: 1.5px;
  border-color: #F2F5F7;
  border-style: solid;
}
.reviews-tab-container:hover, .questions-tab-container:hover {
  color: red;
  cursor: pointer;
}

.reviews_all_content {
  padding: 7% 5%;
  width: 100%;
}

.review_highlights_container {
  display: flex;
}

.left_ratings_container {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  flex-basis: 66%
}

.stars_and_average_star_rating_container {
  /* width: 200px; */
}

#average_star_rating {
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Knockout HTF49-Liteweight', 'Arial', sans-serif;
}

.rating_distribution_container {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 8%;
}

.rating_distribution_text_number_reviews_container {
  font-size: 15px;
  margin-bottom: 5px;
  color: #767676;
}

#rating_distribution_text {
  font-weight: 550;
  margin-right: 5px;
}

#number_reviews {
  font-weight: 450;
}

.star_rating_bars_container {
  margin: 2px 0px 2px 10px;
  display: flex;
}

.rating_bar_instance_container {
  color: #767676;
  font-size: 16px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-weight: 500;
}

.number_star_text {
  /* width: 25px; */
  display: inline-block;
  margin-right: 10px;
}

.total_number_reviews_for_star_rating {
  width: 5px;
  /* display: inline-block; */
  padding-left: 5px;
  /* box-sizing: border-box; */
}

.pros_and_cons_container {
  display: flex;
  width: 100%;
  /* padding-top: 10%; */
}

.pros_container {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

.pros_text, .cons_text {
  padding-top: 3%;
  font-weight: 550;
  color: #202342;
  font-size: 16px;
  font-family: 'Knockout HTF49-Liteweight', 'Arial', sans-serif;
}

.pros_satisfaction_container, .pros_quality_container, .cons_disappointing_container {
  color: #767676;
  padding-top: 3%;
  padding-bottom: 10%;
  font-weight: 500;
}

#satisfaction_text, #quality_text, #disappointing_text {
  font-size: 18px;
  font-family: 'Knockout HTF49-Liteweight', 'Arial', sans-serif;
}

/* .quality_review, .satisfaction_review {
  font-size: 16px;
  font-weight: normal;
} */
.cons_container {
  width: 50%;
  padding-right: 4%;
  display: flex;
  flex-direction: column;
}

.stats_recommendation {
  font-family: 'Knockout HTF49-Liteweight', 'Arial', sans-serif;
  background-color: #F2F5F7;
  border-radius: 6px;
  padding: 20px 10px;
  font-size: 16px;
  color: #202342;
  text-align: center;
  /* font-weight: 600; */
}

.stats_text {
  font-size: 30px;
  margin-bottom: 1%;
}
.see_all_reviews_button_container {
  margin-top: auto;
  margin-left: auto;
}
.see_all_reviews_button {
  font-size: 14px;
  font-weight: bold;
  color: #767676;
  background-color: transparent;
  padding: 14px 9px;
  font-family: 'Knockout HTF30-JuniorWelterwt', 'Arial', sans-serif;
  /* position: absolute; */
  bottom: 22%;
  right: 27%;
  border: 0;
}

.right_arrow {
  margin-left: 5px;
}

.reviews_action_bar_container {
  margin-top: 8%;
  padding: 15px 0px;
  border-top: 1px solid #F2F5F7;
  border-bottom: 1px solid #F2F5F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews_action_header {
  display: inline;
  font-family: 'Knockout HTF49-Liteweight', 'Arial', sans-serif;
  font-size: 40px;
}

.write_review_container {
  float: right;
  text-align: center;
  display: inline-block;
}

.write_review_button {
  border-radius: 50px;
  font-size: 15px;
  height: 30px;
  background: #ccc;
  color: #d4353f;
  border: 0;
  letter-spacing: 1.5px;
  font-family: 'Knockout HTF49-Liteweight', 'Arial', sans-serif;
  min-width: 185px!important;
  min-height: 45px!important;
}

.write_review_botton:hover {
  background: #f3efed!important;
  color: #da0d2b!important;
  opacity: .8;
}
.filter_control_bar_container {
  margin: 15px 10px;
}

.control_bar_reviews_count, .sort_by_dropdown_container {
  display: inline;
  color: #767676;
  font-size: 16px;
}

.sort_by_dropdown_container {
  float: right;
}

.dropdown {
  color: #767676;
  font-size: 14px;
  width: 55%;
  border: 0;
  background-color: white;
}

.review_instance_main_container {
  display: flex;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #F2F5F7;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review_instance_left_container {
  display: flex;
  flex-direction: column;
}

.review_instance_right_container {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
}

.review_instance_helpfulness_container {
  display: flex;
  align-items: center;
  margin-top: 70%;
}

.review_instance_user {
  color: #202342;
  font-size: 16px;
  margin-left: 18px;
  font-weight: 500;
}

.review_instance_timestamp {
  color: #707070;
  font-size: 16px;
  font-weight: 600;
}

.review_title_container {
  font-size: 16px;
  text-transform: uppercase;
  color: #1e1c2c;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 8px;
}

.review_description_container {
  color: #707070;
  font-size: 16px;
  font-weight: 500;
}

.review_vote_yes, .review_vote_no, .review_vote_report {
  border: 1px solid #939393!important;
  border-radius: 50px!important;
  color: #707070!important;
  font-size: 16px;
  padding: 4px 6px!important;
  font-weight: 550;
  margin-right: 5px;
  font-family: 'Knockout HTF30-JuniorWelterwt', 'Arial', sans-serif;
}

.review_vote_yes:hover, .review_vote_no:hover, .review_vote_report:hover {
  background: #c2c2c2;
  box-shadow: none;
  cursor: pointer;
}

.review_helpful_text {
  color: #707070;
  font-weight: 700;
  font-size: 16px;
  margin-right: 2px;
  margin-left: 10px;
}

.quality_rating_bar_container {
  display: flex;
  position: relative;
  margin-top: 4px;
  margin-bottom: 4px;
  align-items: center;
}

.quality_rating_bar_1, .quality_rating_bar_2, .quality_rating_bar_3, .quality_rating_bar_4 {
  border-style: solid;
  width: 25%;
  height: 8px;
  display: inline-block;
  border-color: #939393;
  border-left: 1px;
  border-width: thin;
}

.quality_rating_bar_1, .quality_rating_bar_2, .quality_rating_bar_3 {
  border-right: 1.5px solid #939393;
}

.quality_rating_bar_1 {
  border-radius: 25px 0px 0px 25px;
}

.quality_rating_bar_4 {
  border-radius: 0px 25px 25px 0px;
}

.quality_rating_bar_4, .quality_rating_bar_2, .quality_rating_bar_3 {
  border-left: 1px solid #ccc;
}

.rating_bar_value_red_dot {
  width: 12px;
  height: 12px;
  /* border-style: transparent; */
  border-radius: 50px;
  background-color: #d4353f;
  position: absolute;
}

.quality_text, .comfort_level_text, .fit_text {
  color: #1e1c2c;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Knockout HTF30-JuniorWelterwt', 'Arial', sans-serif;
}

.quality_rating_poor_excellent_text_container, .comfort_level_rating_text_container, .fit_rating_text_container {
  color: #707070;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.verified_purchaser_container {
  display: flex;
  justify-content: flex-end;
}

.verified_purchaser_icon {
  /* width: 5%; */
  margin-right: 6px;
}

.verified_purchaser_text {
  color: #939393;
}

.review_quality_container {
  margin-top: 20%;
}
.star_rating_meter {
  /* -webkit-appearance: none; */
  border-style: solid;
  border-color: #939393;
  border-radius: 20px;
  height: 35px;
  width: 200px;
  /* display: inline-block; */
  border-width: thin;
  box-sizing: border-box;
  /* position: absolute; */
  /* margin: 2% 0%; */
}

.star_rating_meter::-webkit-meter-bar {
  background: none;
  background-color: white;
}

meter::-webkit-meter-optimum-value {
  background-color: red;
  border-radius: 50px;
 }

.questions-all-content-container {
  display: flex;
  padding: 50px 40px;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.ask-question-button-container {
  align-self: flex-end;
}

.ask-question-button, .answer-this-question-button {
  background-color: #e61937;
  border-radius: 50px;
  font-family: 'Knockout HTF49-Liteweight', 'Arial', sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 2px!important;
  line-height: 1!important;
  margin: 0!important;
  padding: 9px 15px!important;
  border: 0;
  text-transform: uppercase;
}

.ask-question-button:hover {
  cursor: pointer;
}

.question-instance-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: space-evenly;
  height: 120px;
}
.question-instance-text {
  color: #202342!important;
  font-family: 'Knockout HTF30-JuniorWelterwt', 'Arial', sans-serif;
  font-size: 20px!important;
  font-weight: 400!important;
  text-transform: uppercase;
}

.question-instance-response-container {
  font-size: 16px!important;
  color: #939393!important;
  font-weight: 400!important;
}

.questions-page-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews-page-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F5F7;
  padding: 5px;
}

.questions-current-number-text {
  color: #939393;
  font-size: 20px;
  /* padding: 10px; */
  margin-left: 25px;
}

.questions-previous-page-button, .questions-next-page-button, .reviews-previous-page-button, .reviews-next-page-button {
  background-color: #F2F5F7;
  border-radius: 50px;
  border: 1px solid #939393;
  margin-right: 2px;
  font-size: 14px;
  padding: 7px 13px;
}

.reviews-current-number-text {
  color: #939393;
  font-size: 20px;
  /* padding: 10px; */
  /* margin-left: 25px; */
}